.container { background-image: url("../img/foto.jpg");

  
  /* para esconder tudo que pular de uma tela, se não colocar essa opção, vai aparecer tudo com o scrol pra mostrar o que não aparece em uma tela só */
  overflow: hidden;
}

.content {
opacity: 0.8;
  display: flex;
  transition: transform .3s ease;
}

.item {
  background-color: rebeccapurple;
  width: 80%;
  /* para que os itens não sejam compactados somente em uma local, como faz o flex, ele segue a medida do width */
  flex-shrink: 0;
  margin: 0 10%;
  padding: 10rem 0;
  background: #eee;
  border-radius: 4px;
  text-align: center;
  }

  .nav {
display: flex;
justify-content: space-between;
margin: 1rem auto;
width: 80%;

  }


 

